.top-nav {
  display: flex;
  justify-content: space-between;
  margin-left: 250px;
  width: auto;
  height:60px;
  background-color: $topNavColor;
  border-bottom: 1px solid lightgrey;
  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid lightgrey;

    width: 75px;
    height: 100%;
    h2 {
      margin: 0;
      color: grey;
    }
  }
  .nav-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      margin-left: 15px;
      height: 40px;
    }
  }
  .nav-search {
    margin-right: 5px;
  }
}
