#section2 {
  margin-top: 10px;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.chart2 {
  display: flex;
  flex-wrap: wrap;

  $numPerRow: 3;
  $margin: 0.5%;

  width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);

  background-color: white;
  border-bottom: 4px solid $borderColor;
  // width: 30%;
  margin-bottom: 0.5%;
  padding: 12px;

  @media (max-width: 1200px) {
    min-width: 49%;
    margin: 0.5%;
  }

  @include border-radius(5px);

  /* numbers heading */
  .chart2-numbers {

    width: 65%;
    height: 40%;

    div:nth-child(2) {
      font-size: 1.5em;
      h1 {
        margin: 0;
        font-weight: 800;
        color: darken(grey, 20%);
      }
    }
  }

  /* percentage change */
  .chart2-change {

    text-align: right;
    width: 35%;
    height: 40%;

    div:nth-child(1) {
      color: rgb(37, 189, 61);
    }
    h3 {
      padding: 0;
      margin: 0;
      font-weight: bold;
    }
  }

  /* bottom half chart */
  .chart2-chart {
    width: 100%;
    height: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: lightgrey;
  }
}
