#section1 {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-bottom: 4px solid $borderColor;
  width: 100%;
  margin: 5px 5px;
  padding: 15px;
  @include border-radius(5px);
}

.chart1-main {
  height: 20%;
  width: 50%;
  // background-color: grey;
  h1 {
    margin: 0;
    font-weight: 800;
    color: darken(grey, 20%);
  }
}

.chart1-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  height: 20%;
  width: 50%;
  text-align: right;
  span {
    border-bottom: 2px solid $borderColor;
    background-color: rgb(182, 65, 61);
    color: white;
    padding: 5px 20px;
    margin-left: 5px;
    @include border-radius(5px);
    @include transition(all 0.4s ease);
  }
  span:hover {
    background-color: darken(rgb(182, 65, 61), 10%);
  }
}

.chart1-chart {
  padding-top: 20px;
  height: 80%;
  width: 100%;
}
