#section1 {
  display: flex;
  flex-wrap: wrap;

  border: 2px solid lightgrey;
  // height: 400px;
  width: 95%;
  margin: 5px 5px;
  padding: 15px;
  @include border-radius(5px);
}

.chart1-main {
  height: 20%;
  width: 50%;
  // background-color: grey;
  h1 {
    margin: 0;
    font-weight: 800;
    color: darken(grey, 20%);
  }
}

.chart1-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  height: 20%;
  width: 50%;
  text-align: right;
  span {
    border: 2px solid lightgrey;
    padding: 5px 20px;
    margin-left: 5px;
    @include border-radius(5px);
  }
}

.chart1-chart {
  padding-top: 20px;
  height: 80%;
  width: 100%;
}
