.top-profile {
  padding-left: 250px;
  width: 100%;
  height: 250px;
  background-color: white;
}

.profile-bar {
  display: flex;
  padding: 25px 50px;
  height: 80%;
  justify-content: space-between; // might want to remove
  .profile-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    height: 100%;
    width: 25%;
    h1 {
      margin: 5px 0 10px 0;
      font-weight: 800;
    }
    p {
      margin: 0;
    }
    i {
      margin-left: 5px;
      margin-right: 10px;
    }
  }
  .profile-stats {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 60%;
    // background-color: lightgrey;
    h1 {
      font-weight: bold;
      font-size: 4em;
      margin: 0;
    }
    h4 {
      margin: 0;
      margin-bottom: 10px;
    }
    div {
      text-align: center;
    }
  }
  .profile-players {
    padding-top: 25px;
    height: 100%;
    width: 15%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    img {
      width: 55px;
      margin: 0 2px;
      @include border-radius(5px);
    }
  }
}

.profile-links {
  display: flex;
  align-items: flex-end;
  // padding-left: 50px;
  height: 20%;
  span {
    display: flex;
    justify-content: center;
    width: 20%;
    background-color: white;
    @include transition(all 0.4s ease);
    i {
      margin-left: 5px;
    }
    // margin-right: 50px;
    border-bottom: 4px solid lightgrey;
    // border-left: 1px solid lightgrey;
  }
  span:nth-child(1) {
    opacity: 0.9;
    color: white;
    background-color: $sidebarColor;
    border-bottom: 4px solid lighten($sidebarColor, 25%);
    @include border-radius(0px 5px 0 0);

    @include transition(all 0.4s ease);
    img {
      margin-top: 10px;
      margin-left: 7px;
      height: 20px;
      @include border-radius(5px);
      @include transition(all 0.5s ease);
    }
  }
  span:nth-child(1):hover {
    img {
      -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
      filter: grayscale(0%);
    }
  }

  span:nth-child(2) {
    @include border-radius(15px 15px 0 0);
  }

  span:nth-child(2):hover {
    color: rgb(100, 65, 165);
    border-bottom: 4px solid rgb(100, 65, 165);
  }

  span:nth-child(3):hover {
    color: rgb(229, 45, 39);
    border-bottom: 4px solid rgb(229, 45, 39);
  }

  span:nth-child(4):hover {
    color: rgb(85, 172, 238);
    border-bottom: 4px solid rgb(85, 172, 238);
  }

  span:nth-child(5):hover {
    color: #3b5998;
    border-bottom: 4px solid #3b5998;
  }

}
