#section2 {
  height: 95%;
  // background-color: grey;
}

.chart2 {
  display: flex;
  flex-wrap: wrap;

  border: 2px solid lightgrey;
  width: 31.2%;
  // height: 200px;

  margin: 5px 5px;
  padding: 12px;

  @include border-radius(5px);

  /* numbers heading */
  .chart2-numbers {

    width: 65%;
    height: 40%;

    div:nth-child(2) {
      font-size: 1.5em;
      h1 {
        margin: 0;
        font-weight: 800;
        color: darken(grey, 20%);
      }
    }
  }

  /* percentage change */
  .chart2-change {

    text-align: right;
    width: 35%;
    height: 40%;

    div:nth-child(1) {
      color: rgb(37, 189, 61);
    }
    h3 {
      padding: 0;
      margin: 0;
      font-weight: bold;
    }
  }

  /* bottom half chart */
  .chart2-chart {
    width: 100%;
    height: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: lightgrey;
  }
}
