.top-profile {
  padding-left: 250px;
  width: 100%;
  height: 250px;
  // background-color: lightgrey;
  border-bottom: 2px solid lightgrey;
  background-color: white;
}

.profile-bar {
  // background-color: green;
  display: flex;
  padding: 25px 50px;
  height: 80%;
  img {
    height: 100%;
    @include border-radius(75px);
  }
  .profile-info {
    margin-left: 20px;
    height: 100%;
    width: 50%;
    h1 {
      margin: 5px 0 10px 0;
      font-weight: 800;
    }
    p {
      margin: 0;
    }
    i {
      margin-left: 5px;
      margin-right: 10px;
    }
  }
  .profile-players {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    img {
      width: 75px;
      margin: 0 5px;
      @include border-radius(5px);
    }
  }
}

.profile-links {
  display: flex;
  align-items: flex-end;
  padding-left: 50px;
  height: 20%;
  span {
    h4 {
      font-weight: 800;
    }
    margin-right: 50px;
    border-bottom: 4px solid transparent;
  }
  span:hover {
    border-bottom: 4px solid rgb(72, 180, 170);
  }
}
