.top-profile {
  margin-top: $topNavHeight;
  padding-left: $sidebarWidth;
  width: 100%;
  height: 250px;
  background-color: white;
}

.profile-bar {
  display: flex;
  padding: 25px 25px;
  height: 80%;
  justify-content: space-between; // might want to remove
  .profile-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    height: 100%;
    width: 25%;
    h1 {
      margin: 5px 0 10px 0;
      font-weight: 800;
    }
    p {
      margin: 0;
    }
    i {
      margin-left: 5px;
      margin-right: 10px;
    }
  }
  .profile-stats {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 30px;
    height: 100%;
    width: 100%;                      /* important width */
    h1 {
      font-weight: bold;
      font-size: 3.5em;
      margin: 0;
    }
    h4 {
      margin: 0;
      margin-bottom: 10px;
    }
    div {
      text-align: center;
    }
  }
  .profile-players {
    // padding-top: 25px;
    // background-color: lightblue;
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    img {
      width: 50px;
      margin: 2px 2px;
      @include border-radius(5px); /* 3, 4 */
    }
    img:first-child:nth-last-child(1) {
      width: 90px;
    }
    img:first-child:nth-last-child(2),
    img:first-child:nth-last-child(2) ~ img {
      width: 75px;
    }
    img:first-child:nth-last-child(3),
    img:first-child:nth-last-child(3) ~ img {
      width: 70px;
    }
    img:first-child:nth-last-child(4),
    img:first-child:nth-last-child(4) ~ img {
      width: 70px;
    }
    img:first-child:nth-last-child(5),
    img:first-child:nth-last-child(5) ~ img {
      width: 70px;
    }
    img:first-child:nth-last-child(6),
    img:first-child:nth-last-child(6) ~ img {
      width: 65px;
    }
    img:first-child:nth-last-child(7),
    img:first-child:nth-last-child(7) ~ img {
      width: 60px;
    }
  }
}

.profile-links {
  display: flex;
  align-items: flex-end;
  height: 20%;
  span {
    display: flex;
    justify-content: center;
    width: 20%;
    background-color: white;
    @include transition(all 0.4s ease);
    i {
      margin-left: 5px;
    }
    border-bottom: 4px solid lightgrey;
  }
  span:nth-child(1) {
    opacity: 0.9;
    color: white;
    background-color: $sidebarColor;
    border-bottom: 4px solid lighten($sidebarColor, 35%);
    @include border-radius(0px 5px 0 0);
    @include transition(all 0.4s ease);
    img {
      margin-top: 10px;
      margin-left: 7px;
      height: 20px;
      @include border-radius(5px);
      @include transition(all 0.5s ease);
    }
    &:hover {
      img {
        -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
        filter: grayscale(0%);
      }
    }
  }

  span:nth-child(2) {
    &:hover {
      color: rgb(100, 65, 165);
      border-bottom: 4px solid rgb(100, 65, 165);
    }
  }

  span:nth-child(3):hover {
    color: rgb(229, 45, 39);
    border-bottom: 4px solid rgb(229, 45, 39);
  }

  span:nth-child(4):hover {
    color: rgb(85, 172, 238);
    border-bottom: 4px solid rgb(85, 172, 238);
  }

  span:nth-child(5):hover {
    color: #3b5998;
    border-bottom: 4px solid #3b5998;
  }

}
