.hidden {
  display: none;
}

#team {
  width: 100%;
  background-color: white;
  border-bottom: 4px solid $borderColor;
  padding: 5px 20px 20px 20px;
  margin: 5px auto 50px auto;
  @include border-radius(5px);

}

#team-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  h2 {
    font-weight: 800;
    margin: 15px 0;
  }
}

#team-labels {
  display: flex;

  width: 100%;
  height: 50px;

  @include border-radius(5px);
  // border: 1px solid $borderColor;
  background-color: white;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 0.5px solid darken($sidebarColor, 5%);
    color: white;
    background-color: $sidebarColor;
  }

  /* LABELS */
  span:nth-child(1) {
    width: 10%;
    @include border-radius(5px 0px 0px 5px);
    img {
      margin-right: 5px;
      @include border-radius(15px);
    }
  }
  span:nth-child(2) {
    width: 35%;
  }
  span:nth-child(3) {
    width: 15%;
  }
  span:nth-child(4) {
    width: 15%;
  }
  span:nth-child(5) {
    width: 15%;
  }
  span:nth-child(6) {
    width: 10%;
    @include border-radius(0px 5px 5px 0px);
  }
}

.team-player {
  display: flex;

  height: 50px;
  width: 100%;

  .remove {
    background-color: transparent;
    border: none;
    font-size: 1.2em;
  }
  .remove:hover {
    color: rgb(201, 67, 71);
    @include transition(all 0.5s ease);
  }

  img {
    height: 30px;
    width: 30px;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: white;
  }

  /* PLAYERS */
  span:nth-child(1) {
    font-size: 1.5em;
    width: 10%;
    color: rgb(214, 57, 57);
    font-weight: 800;
  }
  span:nth-child(2) {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    width: 35%;
    padding: 0 20px;
    font-weight: 800;
    img {
      margin-right: 10px;
      @include border-radius(5px);
    }
    div:nth-child(2) {
      font-size: 1.2em;
    }
  }
  span:nth-child(3) {
    font-size: 1.2em;
    width: 15%;
  }
  span:nth-child(4) {
    font-size: 1.2em;
    width: 15%;
  }
  span:nth-child(5) {
    font-size: 1.2em;
    width: 15%;
  }
  span:nth-child(6) {
    font-size: 1.2em;
    width: 10%;
  }
}
