#section3 {
  // height: 250px;
  width: 95%;
  // border: 2px solid lightgrey;
  margin: 5px;
  margin-bottom: 50px;
  @include border-radius(5px);
}

#team-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  h2 {
    font-weight: 800;
    margin: 10px 0;
  }
  h4 {
    margin: 10px 0;
    padding: 10px 15px;
    border: 2px solid lightgrey;
    @include border-radius(5px);
  }
}

#team-labels {
  display: flex;

  width: 100%;
  height: 50px;

  @include border-radius(5px);
  border: 1px solid lightgrey;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 1px solid lightgrey;
    font-weight: 800;
  }

  /* LABELS */
  span:nth-child(1) {
    width: 10%;
    img {
      margin-right: 5px;
      @include border-radius(15px);
    }
  }
  span:nth-child(2) {
    width: 45%;
  }
  span:nth-child(3) {
    width: 15%;
  }
  span:nth-child(4) {
    width: 15%;
  }
  span:nth-child(5) {
    width: 15%;
  }
}

.team-player {
  display: flex;

  height: 50px;
  width: 100%;

  img {
    height: 30px;
    width: 30px;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    // border: 1px solid lightgrey;
  }

  /* PLAYERS */
  span:nth-child(1) {
    width: 10%;
    color: rgb(214, 57, 57);
    font-weight: 800;
  }
  span:nth-child(2) {
    width: 45%;
    justify-content: flex-start;
    padding-left: 20px;
    img {
      margin-right: 10px;
      @include border-radius(5px);
    }
  }
  span:nth-child(3) {
    width: 15%;
  }
  span:nth-child(4) {
    width: 15%;
  }
  span:nth-child(5) {
    width: 15%;
  }
}
