$chart2-height-base: 250px;

#section2 {
  margin-top: 10px;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.chart2 {
  display: flex;
  flex-wrap: wrap;

  height: $chart2-height-base;
  @media (min-width: 1920px) {
    height: $chart2-height-base + 50px;
  }
  @media (min-width: 2450px) {
    height: $chart2-height-base + 100px;
  }
  @media (min-width: 2850px) {
    height: $chart2-height-base + 175px;
  }


  $numPerRow: 3;
  $margin: 0.5%;

  width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);

  background-color: white;
  border-bottom: 4px solid $borderColor;
  // width: 30%;
  margin-bottom: 0.5%;
  padding: 12px;

  @media (max-width: 1200px) {
    min-width: 49%;
    margin: 0.5%;
  }

  @include border-radius(5px);

  /* numbers heading */
  .chart2-numbers {

    width: 65%;
    height: 40%;

    div:nth-child(2) {
      font-size: 1.5em;
      h1 {
        margin: 0;
        font-weight: 800;
        color: darken(grey, 20%);
      }
    }
  }

  /* percentage change */
  .chart2-change {

    text-align: right;
    width: 35%;
    height: 35%;

    .percentChange-green {
      color: rgb(37, 189, 61);
    }
    .percentChange-red {
      color: firebrick;
    }

    h3 {
      padding: 0;
      margin: 0;
      font-weight: bold;
      @media (max-width: 1400px) {
        font-size: 1.4em;
      }
    }
  }

  /* bottom half chart */
  .chart2-chart {
    width: 100%;
    height: 60%;
    overflow: visible; /* TEMPORARY FIX TODO: need a permanent fix to graph overflowing on big screens? */

    display: flex;
    justify-content: center;
    align-items: flex-end;
    // background-color: lightgrey;
  }

  .chart2-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    visibility: hidden;
    height: $chart2-height-base - 25px;
    width: 100%;
    margin-top: -$chart2-height-base + 25px;
    background-color: lighten(lightgrey, 13%);
    opacity: 0.97;
    @media (min-width: 1920px) {
      height: 275px; /* should be 275 */
      margin-top: -275px;
    }
    @media (min-width: 2450px) {
      height: 325px;
      margin-top: -325px;
    }
    @media (min-width: 2850px) {
      height: 400px;
      margin-top: -400px;
    }
  }
}
