.profile {
  margin: 15px auto;
  text-align: center;
  img {
    height: 100px;
    border: 3px solid lightgrey;
    @include border-radius(100px);
  }
  h1 {
    margin-top: 10px;
    color: white;
    font-size: 1.3em;
  }
}

.side-nav {
    position: fixed;
    width: $sidebarWidth;
    top: 0;
    bottom: 0;
    background-color: $sidebarColor;
    p {
        color: white;
        margin-left: 30px;
    }
    ul {
        padding: 0;
        list-style-type: none;
        width: 100%;
        color: lightgrey;
        font-size: 1.1em;
    }
    li {
        @include transition(all 0.2s ease);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        border-left: 3px solid transparent;
        i {
            margin-right: 10px;
        }
    }
    .side-active {
      background-color: $sidebarRoll;
      color: white;
      border-left: 3px solid white;
    }
    li:hover {
        background-color: $sidebarRoll;
        color: white;
        border-left: 3px solid white;
    }
}

.hr {
  margin-left: 1px;
  margin-right: 1px;
  border: 1px solid $sidebarBar;
}
