/* Colors */

$topNavColor: white;

$borderColor: white;
$backgroundColor: darken(#F0F5F7, 1%);

$sidebarColor: rgb(57, 77, 89);
$sidebarBar: darken($sidebarColor, 3%);
$sidebarRoll: darken($sidebarColor, 8%);

/* Padding */
