/* Colors */

$topNavColor: white;

$borderColor: white;
$backgroundColor: lighten(lightgrey, 10%);

$sidebarColor: rgb(57, 77, 89);
$sidebarBar: darken($sidebarColor, 3%);
$sidebarRoll: darken($sidebarColor, 8%);

/* Padding */
