/* Colors */

$topNavColor: white;

$borderColor: lightgrey;
$backgroundColor: darken(#F0F5F7, 1%);

$sidebarColor: rgb(57, 77, 89);
$sidebarBar: darken($sidebarColor, 3%); /* divider */
$sidebarRoll: darken($sidebarColor, 8%);

$buttonColor: rgb(61, 142, 182);

/* Dimensions */

$topNavHeight: 60px;
$sidebarWidth: 250px;
