@import "mixins";
@import "navigation";
@import "sidebar";
@import "section1";
@import "section2";
@import "section3";

body {
  font-family: 'Open Sans', sans-serif;
  color: darken(grey, 20%);
}

.container-new {
  padding-left: 270px;
  padding-top: 80px;
}

.button {
  @include transition(all 0.4s ease);
}

.button:hover {
  background-color: #256986;
  color: white;
}
