@import "variables";
@import "mixins";
@import "navigation";
@import "sidebar";
@import "section0";
@import "section1";
@import "section2";
@import "section3";

body {
  font-family: 'Open Sans', sans-serif;
  color: darken(grey, 20%);
  background-color: $backgroundColor;
}

.container-new {
  padding-left: 270px;
  padding-right: 15px;
  padding-top: 20px;
}

// .button {
//   @include transition(all 0.3s ease);
// }
//
// .button:hover {
//   // background-color: #256986;
//   background-color: #bd2020;
//   border: 2px solid transparent;
//   color: white;
// }
